# DATA DESCRIPTION

#### The dataset was released by Aspiring Minds from the Aspiring Mind Employment Outcome 2015 (AMEO). The study is primarily limited  only to students with engineering disciplines. 
#### This dataset contains :
* Employment outcomes of engineering graduates as dependent variables (Salary, Job Titles, and Job Locations) along with the standardized scores from three different areas â€“
cognitive skills, technical skills and personality skills.
* demographic features
* contains  around  40 independent variables and 4000 data points. The independent variables are both continuous and categorical in nature. The dataset contains a unique identifier for each candidate.

## Problem statement

* Who got the highest /lowest salary over all the candidates ?
* In which city the job postings happened more frequently?
* Which Designation has more demand? 
* Overall Which gender is more?
* Who secured more percentage in 10th, Inter, Graduation?
* Year wise Graduated people?
* In which state there are more Graduate passedouts?
* In Which Specialization people got the jobs more?
* More People are getting settled in which age?

In [ ]:
# To execute the multiple lines of code at once
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity='all'

In [ ]:
# importing the libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
sns.set(style="whitegrid", color_codes=True)
pd.set_option('display.max_columns',None)
#pd.set_option('display.max_rows',None)

In [ ]:
df=pd.read_excel('aspiring_minds_employability_outcomes_2015.xlsx')

In [ ]:
df.head()

In [ ]:
df.shape

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df.set_index("ID",inplace=True)
df.head()

## Data preprocessing

In [ ]:
df.isna().sum()

In [ ]:
df.isin([-1,'NaN']).sum()

In [ ]:
df['JobCity']=df['JobCity'].replace(-1,'Bangalore')

In [ ]:
df['JobCity'].value_counts()

In [ ]:
df['Domain'].value_counts()

In [ ]:
df['ComputerProgramming'].value_counts()

In [ ]:
df['Domain']=df['Domain'].astype(str).replace('-1.0','0.510490').astype(float)

In [ ]:
df['ComputerProgramming']=df['ComputerProgramming'].astype(str).replace('-1','353').astype(int)

In [ ]:
df['Domain'].value_counts()

In [ ]:
df['ComputerProgramming'].value_counts()

In [ ]:
df.isin([-1,'NaN']).sum()

In [ ]:
df['DOB']=pd.to_datetime(df['DOB'])
df['DOB_year']=df['DOB'].dt.year
df.drop(columns=['DOB'],axis=1,inplace=True)

In [ ]:
df['GradAge']=abs(df['GraduationYear']-df['DOB_year'])

In [ ]:
# Dropping the unnecessary columns
df.drop(columns = ['Unnamed: 0','DOJ', 'DOL','DOB_year','CollegeID','CollegeCityID','CollegeTier','CollegeCityTier','ComputerScience','ElectronicsAndSemicon','MechanicalEngg',
                        'ElectricalEngg','TelecomEngg','CivilEngg'],axis = 1,inplace=True)

In [ ]:
Final_df = df[['Salary','Designation', 'JobCity', 'Gender','10percentage', '10board', '12graduation','12percentage', '12board','Degree','Specialization','collegeGPA','CollegeState','GraduationYear','GradAge','English', 'Logical',
       'Quant', 'Domain', 'ComputerProgramming', 'conscientiousness',
       'agreeableness', 'extraversion', 'nueroticism', 'openess_to_experience']]

In [ ]:
Final_df=Final_df.reset_index()

In [ ]:
Final_df

In [ ]:
Final_df.GradAge.unique()

In [ ]:
Final_df[Final_df.GradAge==1991]

In [ ]:
Final_df.GradAge=Final_df.GradAge.astype(str).replace('1991','23').astype(int)

In [ ]:
Final_df.to_excel(r'C:\Data\train_data.xlsx',index=False)

### Groupby

In [ ]:
Final_df.groupby('Designation')[['Salary']].mean()

In [ ]:
Final_df.groupby('Designation')[['Salary']].max()

In [ ]:
Final_df.groupby(['Gender','Specialization'])[['Salary']].mean()

In [ ]:
import warnings
warnings.filterwarnings('ignore')

## Data Visualization

### Univariate Analysis

In [ ]:
Final_df.Specialization.value_counts().plot(kind='bar',figsize=(15,5));

Observation:
* Electronics and communication engineering people are more getting the job, whereas polymer technology got least.

In [ ]:
Final_df.Designation.value_counts().plot.pie();

Observation:
 * Software Engineer has more demand while compared to all remaining job roles.

In [ ]:
Final_df.Gender.value_counts().plot(kind='bar');
plt.xticks(rotation=0)
plt.title('Gender proportion');

In [ ]:
Final_df.Gender.value_counts(normalize=True).plot.pie(autopct='%0.2f%%');

Observation:
* Overall people male candidates are more compared to female ones.

In [ ]:
Final_df.GradAge.value_counts().plot(kind='bar')

Observation:
* At the age 22 more people settled in their jobs.

In [ ]:
Final_df.JobCity.value_counts().plot.line();

Observation:
* In Bangalore there are more postings occured.

In [ ]:
Final_df.GraduationYear.value_counts().plot(kind='bar')

Observation:
* More number of graduates come from the year 2013

In [ ]:
Final_df.CollegeState.value_counts().plot.pie()

Observation:
* From Uttar Pradesh there are more graduates.

In [ ]:
Final_df['10percentage'].plot.hist()
plt.title('10th - percentage');

Observation:
* All candidates percentage in 10th standard between 45 & 95

In [ ]:
sns.kdeplot(Final_df['12percentage']);
plt.title('12th - percentage');

Observation:
* All candidates percentage in 12th standard around 40 to 100.

In [ ]:
Final_df['collegeGPA'].plot.hist()
plt.title('Degree-percentage');

Observation:
* All candidates percentage in graduate score around 55 to 95

In [ ]:
sns.displot(Final_df['English']);
plt.title('English');

Observation:
* Most of the students got score b/w 500 & 600

In [ ]:
sns.displot(Final_df['Logical']);
plt.title('Logical');

Observation:
* * Most of the students got the marks in *Logical* is  500

In [ ]:
sns.displot(Final_df['Quant']);
plt.title('Quant');

Observation:
* * Most of the students got the marks in *Quant* is 605

In [ ]:
sns.displot(Final_df['Domain']);
plt.title('Domain');

Observation:
* Most of the students got the marks in *Domain* is 0.5

In [ ]:
sns.displot(Final_df['ComputerProgramming']);
plt.title('ComputerProgramming');

Observation:
* Most of the students got the marks in *Computer programming* is 353

In [ ]:
# row in which value of 'salary less than certian amount
for i in range(1,8):
    seriesObj = Final_df.apply(lambda x: True if x['Salary'] <= 250000*i  else False , axis=1)
    # Count number of True in series
    numOfRows = len(seriesObj[seriesObj == True].index)
 
    print('Number of Rows in dataframe in which Salary %d  : '%((250000*i)), numOfRows)

In [ ]:
indexNames = Final_df[ Final_df['Salary'] > 1000000 ].index
 
# Delete these row indexes from dataFrame
Final_df.drop(indexNames , inplace=True)
Final_df.shape

In [ ]:
sns.displot(Final_df.Salary);

In [ ]:
plt.hist(Final_df['Salary'],bins=10)

### Bi-variate

In [ ]:
sns.boxplot(x='Salary', y = 'Gender', data=Final_df);

Observation:
* Males earnings are more when compared to females

In [ ]:
plt.figure(figsize = (50,10),dpi = 100)
sns.countplot(df.Salary)
plt.xticks(rotation=90);

Observation:
* 3L is the frequently occured salary and 35k is minimum salary

In [ ]:
plt.figure(figsize = (10,15),dpi = 200)
sns.boxplot(x='Salary', y = 'Specialization', data=df)
plt.suptitle('Salary levels by specialization');

Obsrvation:
* Computer Engineering graduates get more salary of all others.

In [ ]:
sns.boxplot('Degree','Salary', data=Final_df);

In [ ]:
sns.catplot(x = 'Degree', y= 'Salary', data = Final_df, kind='violin');
plt.xticks(rotation=90);

Observation: 
* B.tech/B.E got more increments in salary

In [ ]:
sns.jointplot(x=Final_df.Quant,y=Final_df.Logical,kind='hex');

Observation:
* The average scores in Quant and Logical is 500.

### Multi-variate

In [ ]:
plt.figure(figsize = (10,5),dpi = 200)
sns.heatmap(Final_df.corr(),annot=True,annot_kws={"size": 4});

Observation:
* It shows the all correlated values.

In [ ]:
sns.pairplot(Final_df);

## Conclusion:
* **B.tech/B.E** got more salary, and in that computer Engineers got more.
* In **Bangalore** there are more postings occured.
* **Software Engineer** has more demand while compared to all remaining job roles.
* Overall people **male** candidates are more compared to female ones.
* All candidates percentage in 10th standard between 45 & 95, and in 12th standard around 40 to 100, and in graduate score around 55 to 95.
* More number of graduates come from the year **2013**
* From **Uttar Pradesh** there are more graduates.
* **Electronics and communication engineering** people are more getting the job, whereas polymer technology got least.
* At the age **22** more people settled in their jobs.

## Feature Transformation

In [ ]:
import pandas as pd
def quick_analysis(Final_df):
    print("Data Types:")
    print(Final_df.dtypes)
    print("Rows and Columns:")
    print(Final_df.shape)
    print("Column Names:")
    print(Final_df.columns)
    print("Null Values:")
    print(Final_df.apply(lambda x: sum(x.isnull()) / len(Final_df)))
quick_analysis(Final_df)

### Histograms of all **Numeric Features**

In [ ]:
import matplotlib.pyplot as plt
Final_df[Final_df.dtypes[(Final_df.dtypes=="float64")|(Final_df.dtypes=="int64")]
                        .index.values].hist(figsize=[11,11]);

I have characterised the features into the four types in the table below. I can now make some decisions as to the transformation steps I will take in order to prepare the data for training and prediction.

```
Variable type                                             Features

Continuous                  ----            10percentage,	12percentage, collegeGPA ,conscientiousness, agreeableness,
                                            extraversion, nueroticism, openess_to_experience,	Domain     

Nominal                     ----            Designation,JobCity,10board,12board,Degree,Specialization,CollegeState	

Dichotomous                 ----            Gender

Discrete                     ----           ID, Salary, 12graduation, GraduationYear, GradAge, English, Logical,
                                            Quant,ComputerProgramming
```

In [ ]:
dummy_cols = ['Designation','JobCity','10board','12board','Degree','Specialization','CollegeState']
df1 = pd.get_dummies(Final_df, columns = dummy_cols)

In [ ]:
df1

### Standardization

In [ ]:
Numericf=Final_df[['Salary',  'GraduationYear', 'GradAge', 'English', 'Logical', 'Quant','ComputerProgramming','10percentage','12percentage', 'collegeGPA' ,'conscientiousness', 'agreeableness',
                                            'extraversion', 'nueroticism', 'openess_to_experience','Domain'  ]]

In [ ]:
from sklearn import preprocessing
scaler = preprocessing.StandardScaler().fit(Numericf)
scaler

In [ ]:
scaler.mean_
scaler.scale_

In [ ]:
X_scaled = scaler.transform(Numericf)
X_scaled 
X_scaled.mean(axis=0)
X_scaled.std(axis=0)

In [ ]:
# another 
from sklearn import preprocessing
data =Numericf

# standardization of dependent variables
standardized= preprocessing.scale(Numericf)
print(standardized)

### Standardization for the iris dataset

In [ ]:
from sklearn.datasets import load_iris
from sklearn.preprocessing import StandardScaler
 
data = load_iris()
scale= StandardScaler()
 
# separate the independent and dependent variables
X_data = data.data
target = data.target
 
# standardization of dependent variables
scaled_data = scale.fit_transform(X_data) 
print(scaled_data)

### Handling Outliers

In [ ]:
plt.figure(figsize=(20,5),dpi=100)
sns.boxplot(df['Salary'])

In [ ]:
ax=sns.displot(df['Salary'],kde=True);

In [ ]:
sns.kdeplot(Final_df['Salary']);

In [ ]:
from scipy import stats

In [ ]:
stats.probplot(Final_df['Salary'], dist="norm", plot=plt)
plt.grid()

In [ ]:
x_t, l = stats.boxcox(Final_df['Salary'])

print(l)

In [ ]:

stats.probplot(x_t, dist="norm", plot=plt)

plt.grid()